# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\mbeat\OneDrive\Ambiente de Trabalho\CExercicios\Ficha1\ExsUFP\F2E9\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
